NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_URL_INTERNAL = http://localhost:3000
NEXTAUTH_SECRET = # copy string, generated using this command - `$ openssl rand -base64 32`


# Edge store credentials
EDGE_STORE_ACCESS_KEY= # Access key
EDGE_STORE_SECRET_KEY= # Secret key

# Your app's public url - localhost incase of not deployed, else use whatever your app's live link 
NEXT_PUBLIC_URL = "http://localhost:3000"

# MongoDB Credentials
MONGODB_URI = # URI

# LiveKit Credentials
NEXT_PUBLIC_LIVEKIT_URL = # wss://...
LIVEKIT_API_SECRET = # Secret
LIVEKIT_API_KEY = # Key


# Cloudinary 
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME = # Cloud name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET_NAME = # Preset name (unsigned)