@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

html {
    font-family: "Manrope", sans-serif;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    @apply w-[0px];
}

/* ::-webkit-scrollbar-thumb {
    @apply bg-black h-5;
}

::-webkit-scrollbar-track {
    @apply bg-white;
} */

/* Messsage styling */
div[data-sender="other"] {
    @apply rounded-tl-2xl rounded-r-3xl pl-4 py-3 pr-6 shadow-sm;
}

div[data-sender="self"] {
    @apply rounded-tr-2xl rounded-l-3xl pr-5 py-3 pl-6 shadow-sm;
}

.effect-bottom {
    mask-image: linear-gradient(to bottom, black, transparent);
}

.typing-indicator {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 20px;
}

.typing-indicator span {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #000;
    animation: typing 1s infinite;
}

.typing-indicator span:nth-child(2) {
    left: 3px;
    animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
    left: 6px;
    animation-delay: 0.4s;
}

@keyframes typing {
    0% {
        height: 100%;
    }
    20% {
        height: 50%;
    }
    100% {
        height: 50%;
    }
}



#call-notification[data-state="open"] {
    animation: come-in 150ms cubic-bezier(0.01, 0, 0.11, 0.88) forwards;
}

#call-notification[data-state="closed"] {
    animation: go-out 150ms cubic-bezier(0.01, 0, 0.11, 0.88) forwards;
}

@keyframes come-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes go-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
