@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Noto Sans", sans-serif;
}

.flex-center {
  @apply flex justify-center items-center;
}

.side-p {
  @apply px-[3.5rem];
}

.input-border {
  @apply border border-solid border-gray rounded-lg;
}

svg {
  @apply transition-colors duration-150 ease-in-out;
}
svg path {
  @apply transition-colors duration-150 ease-in-out;
}

svg[data-type="github"]:hover {
  @apply fill-[#e6edf3];
}

svg[data-type="github"]:hover path {
  fill: #010409;
}

svg[data-type="twitter"]:hover {
  @apply fill-[#1e9af0];
}

svg[data-type="twitter"]:hover path {
  fill: white;
}

svg[data-type="google"]:hover {
  @apply fill-[#e75a4d];
}

svg[data-type="google"]:hover path {
  fill: white;
}

svg[data-type="facebook"]:hover {
  @apply fill-[#0766FF];
}

svg[data-type="facebook"]:hover path {
  fill: white;
}

input:active {
  @apply bg-transparent;
}
